@import "./utilities/variables";
@import "./utilities/funciones";
@import "./utilities/mixings";
@import "./base/reset";
@import "./base/typo";
@import "./components/bootstrap";
@import "./layout/footer";
@import "./layout/header";
@import "./layout/main-index";
@import "./layout/media-1024";
@import "./layout/media-320";
@import "./layout/media-375";
@import "./layout/media-425";
@import "./layout/media-768";
@import "./layout/main-historia";
@import "./layout/main-modificaciones";
@import "./layout/main-proyectos";
@import "./layout/main-politica-de-cookies";
@import "./layout/main-terminos-y-condiciones";