@mixin parrafo {
    font-size: 20px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;}
@mixin mod {
        font-size: 30px;
        margin-left: 20px;
        margin-top: 40px;
        text-decoration: underline;
        margin-right: 20px;}
@mixin dd {font-size: 20px;
    text-align: justify;
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 10px;
    margin-right: 20px;}
@mixin img-1 {width: 30%;
    margin-top: 10px;
    margin-block-end: 10px;
    margin-left: 150px;}
@mixin img-2 {width: 75%;
    margin-top: 10px;
    margin-block-end: 10px;
    margin-left: 150px;}
@mixin subtitulo {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;}
@mixin text { margin-left: 10px;
margin-right: 10px;}