//index//
@media (max-width:768px) {
    .nav-item {font-size: 18px;
                          padding: 0 32px;}
    .Homepage {width: 768px;
               height: 628px;}
    .titulo {font-size: 80px;}
    .logo-2 img {height: 40px;}
    .pie-de-pagina {font-size: 18px;}
    .Institucional {font-size: 18px;}
    .politicas {font-size: 18px;}
     .logo-1 {padding: 0 350px;}}

 //main-historia//
 @media (max-width:769px) {
    /* mk1 */
    .subtitulo-1 {font-size: 40px;}
    
    /* mk2 */
    .subtitulo-2 {font-size: 40px;}
    
    /* mk3 */
    .subtitulo-3 {font-size: 40px;}
    .mk3-sub { margin-left: 250px;}
    
    /* mk4 */
    .subtitulo-4 {font-size: 40px;}
    .mk4-sub {margin-left: 250px;}
    .p-4-sub {margin-left: 310px;}
    
    /* mk5 */
    .subtitulo-5 {font-size: 40px;}
    .p-5-3 {margin-left: 300px;}
    
    /* mk6 */
    .subtitulo-6 {font-size: 40px;}
    .p-6-3 {margin-left: 300px;}
    
    /* mk7 */
    .subtitulo-7 {font-size: 40px;}
    .img-mk7-3 {margin-left: 80px;}
    .img-mk7-2 {margin-left: 80px;}
    .p-7-2 {margin-left: 150px;}   
    .p-7-3 {margin-left: 180px; }
    
    /* mk8 */
    .subtitulo-8 {font-size: 40px;}}