//index//
@media (max-width:1024px) {
    .Homepage {width: 100%;
               height: 100vh;}
    .logo-2 img {height: 40px;}
    .logo-1 {padding: 0 460px;}}
    .nav-item {
        font-size: 18px;
        padding: 0 60px;
}

//main historia//
@media (max-width: 1024px) {
    /* mk3 */
    .mk3-sub {margin-left: 380px;}
    
    /* mk4 */
    .p-4-sub {margin-left: 380px;}
    
    /* mk5 */
    .p-5-3 {margin-left: 380px}
    
    /* mk6 */
    .p-6-3 {margin-left: 360px;}
    
    /* mk7 */
    .img-mk7-3 {margin-left: 110px;}
    .p-7-2 {margin-left: 280px;}   
    .p-7-3 {margin-left: 250px;}}
